
            <div class="container mt-5">
                
                <table class="table table-striped mt-3">
                    <thead>
                     
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombres</th>
                      <th scope="col">Rif</th>
                      <th scope="col">Direccion</th>
                      <th scope="col">Telefono</th>
                      <th scope="col"> <a href="/addEmpleado" ><button class="btn btn-success">Agregar Proveedor</button></a></th>
                      <th scope="col"></th>
                    </tr>
                   
                    </thead>
                    <tbody>
                    <tr>
                      {{#each proveedores}}
                      <tr id="empl-{{id}}">
                        <td>{{id}}</td>
                        <td>{{nombres}}</td>
                        <td>{{cedula}}</td>
                        <td>{{direccion}}</td>
                        <td>{{telefono}}</td>
                        <td><button class="btn btn-sm btn-success"><a href="/editarEmpleado/{{id}}">Editar</a></button>
                            <button class="btn btn-sm btn-danger"><a href="/delEmpleado/{{id}}">X</a></button></td>
                      </tr>
                      {{/each}}
                    </tr>
                    </tbody>
                  </table>
            </div>